@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --roboto-font: "Roboto", sans-serif;
}
