<script>
import HomePageComponent from "@/components/HomePageComponent";
import HomePageSkeleton from "@/components/HomePageSkeleton";
export default {
  name: "HomePage",
  components: {
    HomePageComponent,
    HomePageSkeleton,
  },
};
</script>

<template>
  <main class="bg-neutral-900 min-h-screen px-4 md:flex md:flex-col">
    <Suspense>
      <HomePageComponent />
      <template #fallback>
        <HomePageSkeleton />
      </template>
    </Suspense>
  </main>
</template>

<style scoped></style>
