<script>
import MovieDetailsComponent from "@/components/MovieDetailsComponent";
import DetailsSkeleton from "@/components/DetailsSkeleton";
export default {
  name: "MovieDetails",
  components: {
    MovieDetailsComponent,
    DetailsSkeleton,
  },
  props: {
    id: {
      required: true,
      type: String,
    },
  },
};
</script>

<template>
  <main class="bg-neutral-900 px-4 md:flex md:flex-col">
    <Suspense>
      <MovieDetailsComponent :id="id" />
      <template #fallback>
        <DetailsSkeleton />
      </template>
    </Suspense>
  </main>
</template>

<style lang="scss" scoped></style>
