<template>
  <h3
    class="leading-7 text-lg lg:text-2xl text-neutral-100 border-solid border-amber-300 border-r-2 w-max pr-2"
  >
    <slot />
  </h3>
</template>

<script>
export default {
  name: "BlockHeader",
};
</script>

<style scoped></style>
