<script>
import CardComponent from "@/components/CardComponent";
export default {
  name: "CardsGalleryComponent",
  components: { CardComponent },
  props: {
    items: {
      type: Array,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <section class="grid grid-cols-2 md:grid-cols-3 gap-x-10">
    <CardComponent
      class="mb-10"
      v-for="item in items"
      :key="item.title"
      :item="item"
      :type="type"
    />
  </section>
</template>

<style scoped></style>
