<script>
import { computed } from "vue";
import LazyImg from "@/components/LazyImg";
export default {
  name: "CardComponent",
  components: { LazyImg },
  props: {
    item: {
      type: Object,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const posterImage = computed(() => {
      return "https://image.tmdb.org/t/p/w154/" + props.item.poster_path;
    });
    const responsiveImages = computed(
      () =>
        `https://image.tmdb.org/t/p/w154/${props.item.poster_path} 154w,
    https://image.tmdb.org/t/p/w185/${props.item.poster_path} 185w,
    https://image.tmdb.org/t/p/w300/${props.item.poster_path} 300w,
    https://image.tmdb.org/t/p/w500/${props.item.poster_path} 500w
    `
    );
    const altText = computed(() => {
      return props.item.name;
    });

    return {
      posterImage,
      responsiveImages,
      altText,
    };
  },
};
</script>

<template>
  <div class="relative opacity-100 transition-opacity hover:opacity-90">
    <LazyImg
      class="w-full rounded-lg object-cover aspect-poster"
      :srcset="responsiveImages"
      :src="posterImage"
      :alt="altText"
    />
    <div
      class="absolute w-full h-full top-0 flex items-center justify-center text-center opacity-0 transition-all hover:opacity-90 hover:bg-neutral-900"
    >
      <router-link
        class="bg-transparent text-amber-300 font-bold"
        :to="{ name: type, params: { id: item.id } }"
      >
        Check out details
      </router-link>
    </div>
  </div>
</template>

<style scoped></style>
