<template>
  <div>
    <img :src="img" :alt="altText" class="mb-3 rounded-lg" />
    <div>
      <h3 class="special-font text-md font-extrabold">{{ castMember.name }}</h3>
      <h5 class="special-font text-xs text-amber-100">
        {{ castMember.character }}
      </h5>
    </div>
  </div>
</template>

<script>
import { computed } from "vue";
export default {
  name: "CastMember",
  props: {
    castMember: {
      required: true,
      type: Object,
    },
  },

  setup(props) {
    const img = computed(() => {
      return "https://image.tmdb.org/t/p/w185/" + props.castMember.profile_path;
    });
    const altText = computed(() => {
      return props.castMember.name;
    });

    return {
      img,
      altText,
    };
  },
};
</script>

<style scoped>
.special-font {
  font-family: var(--roboto-font);
}
</style>
