<template>
  <Splide type="slide" :options="options">
    <SplideSlide v-for="castMember in filteredCastList" :key="castMember.id">
      <CastMember :cast-member="castMember" />
    </SplideSlide>
  </Splide>
</template>

<script>
import CastMember from "@/components/CastMember";
import { Splide, SplideSlide } from "@splidejs/vue-splide";
import "@splidejs/vue-splide/css";
import { computed } from "vue";
export default {
  name: "CastList",
  components: { CastMember, Splide, SplideSlide },

  props: {
    castList: {
      required: true,
      type: Object,
    },
  },

  setup(props) {
    const filteredCastList = computed(() => {
      const castList = props.castList;

      const filteredList = castList.filter((element) => element.profile_path);

      return filteredList;
    });
    const options = {
      rewind: true,
      perPage: 2,
      gap: "1rem",
      padding: { right: "20%" },
      pagination: false,
      drag: true,
      arrows: false,
    };
    return {
      options,
      filteredCastList,
    };
  },
};
</script>

<style scoped></style>
