<script>
export default {
  name: "CategoriesComponent",
  emits: ["update:selected-category"],
  props: {
    selectedCategory: {
      type: String,
      required: true,
    },
    categories: {
      type: Array,
      required: true,
    },
  },
};
</script>

<template>
  <ul class="flex flex-row justify-between md:justify-around w-full">
    <li v-for="category in categories" :key="category.label">
      <button
        class="text-sm text-neutral-100 font-bold pb-2 focus:text-amber-300 focus:border-b-2 focus:border-b focus:border-amber-300"
        :class="{
          'text-amber-300 border-b border-b-2 border-amber-300':
            selectedCategory === category.value,
        }"
        @click="$emit('update:selected-category', category.value)"
      >
        {{ category.label }}
      </button>
    </li>
  </ul>
</template>

<style scoped></style>
