<template>
  <section class="flex flex-col items-center">
    <div
      class="bg-neutral-700 aspect-poster animate-pulse mb-5 md:w-3/4 mx-auto max-w-2xl"
    >
      <br />
    </div>
    <div class="mx-4 my-5 max-w-2xl w-full mx-auto">
      <div class="flex flex-row items-center mb-4 md:mb-8">
        <div class="bg-neutral-700 animate-pulse w-32 h-10 rounded-lg">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse ml-auto h-5 w-20 rounded-md">
          <br />
        </div>
      </div>
      <div class="mb-8 md:mb-16 max-w-2xl mx-auto">
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-32 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-28 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
      </div>
      <div class="mb-8 md:mb-16">
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-32 h-4 rounded-md">
          <br />
        </div>
      </div>
      <div class="mb-8 md:mb-16">
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse aspect-video"></div>
      </div>
      <div class="mb-8 md:mb-16">
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <ul class="flex flex-row gap-x-10">
          <li
            v-for="index in 2"
            :key="index"
            class="bg-neutral-700 animate-pulse w-1/2 rounded-lg mb-10 h-56"
          >
            <br />
          </li>
        </ul>
      </div>
      <div class="mb-8 md:mb-16">
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-32 h-4 rounded-md mb-7">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-32 h-4 rounded-md mb-7">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-full h-4 rounded-md mb-3">
          <br />
        </div>
        <div class="bg-neutral-700 animate-pulse w-32 h-4 rounded-md mb-7">
          <br />
        </div>
      </div>
      <div class="mb-8 md:mb-16">
        <div class="bg-neutral-700 animate-pulse w-36 h-4 rounded-md mb-2.5">
          <br />
        </div>
        <ul class="grid grid-cols-2 gap-x-10">
          <li
            v-for="index in 4"
            :key="index"
            class="bg-neutral-700 animate-pulse w-full rounded-lg aspect-poster mb-10 h-56"
          >
            <br />
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "DetailsSkeleton",
};
</script>

<style scoped></style>
