<template>
  <footer class="px-5 py-3 md:py-6 bg-neutral-800 text-neutral-100">
    <div
      class="text-sm md:text-md flex flex-col md:flex-row md:justify-around max-w-2xl sm:mx-auto"
    >
      <p class="text-center md:text-justify mb-3 md:mb-0">
        Powered by
        <a
          href="https://www.themoviedb.org/documentation/api"
          target="_blank"
          class="cursor-pointer gradient"
          >The Movie Database</a
        >
      </p>
      <p class="text-center md:text-justify md:ml-auto">
        Copyright © 2022 Maria Halkiewicz
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterComponent",
};
</script>

<style scoped>
.gradient {
  background: -webkit-linear-gradient(#90cea1, #01b4e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
