<template>
  <main class="bg-neutral-900 md:flex md:flex-col pt-5">
    <div class="bg-neutral-700 animate-pulse mb-5 md:w-3/4 mx-auto max-w-2xl">
      <br />
    </div>
    <div class="bg-neutral-700 animate-pulse mb-10 md:w-3/4 mx-auto max-w-2xl">
      <br />
    </div>
    <ul
      class="grid grid-cols-2 gap-x-10 md:grid-cols-3 md:w-3/4 mx-auto max-w-2xl"
    >
      <li
        v-for="index in 20"
        :key="index"
        class="bg-neutral-700 animate-pulse w-full aspect-poster rounded-lg mb-10"
      >
        <br />
      </li>
    </ul>
    <div class="bg-neutral-700 animate-pulse mb-10 md:w-3/4 mx-auto max-w-2xl">
      <br />
    </div>
    <ul
      class="grid grid-cols-2 gap-x-10 md:grid-cols-3 md:w-3/4 mx-auto max-w-2xl"
    >
      <li
        v-for="index in 20"
        :key="index"
        class="bg-neutral-700 animate-pulse w-full rounded-lg aspect-poster mb-10"
      >
        <br />
      </li>
    </ul>
  </main>
</template>

<script>
export default {
  name: "HomePageSkeleton",
};
</script>

<style scoped></style>
