<script>
import SearchBar from "@/components/SearchBar";
import CardsGalleryComponent from "@/components/CardsGalleryComponent";
import { ref, watchEffect } from "vue";
import axios from "axios";
import { debounce } from "@/helpers";
import CategoriesComponent from "@/components/CategoriesComponent";

export default {
  name: "HomePage",
  components: {
    CardsGalleryComponent,
    SearchBar,
    CategoriesComponent,
  },

  async setup() {
    const apiKey = "5c6236cd4a8647c14e3575035964508d";

    const moviesCategories = [
      {
        label: "Popular",
        value: "popular",
      },
      {
        label: "Top Rated",
        value: "top_rated",
      },
      {
        label: "Now Playing",
        value: "now_playing",
      },
      {
        label: "Upcoming",
        value: "upcoming",
      },
    ];
    const serialsCategories = [
      {
        label: "Popular",
        value: "popular",
      },
      {
        label: "Top Rated",
        value: "top_rated",
      },
      {
        label: "Airing Today",
        value: "airing_today",
      },
      {
        label: "On The Air",
        value: "on_the_air",
      },
    ];

    const selectedMoviesCategory = ref("popular");
    const selectedSerialsCategory = ref("popular");

    const fetchMovies = (selectedMoviesCategory) => {
      axios
        .get(
          `https://api.themoviedb.org/3/movie/${selectedMoviesCategory}?api_key=${apiKey}&language=en-US&page=1`
        )
        .then((response) => {
          movies.value = response.data.results;
        });
    };

    watchEffect(() => {
      fetchMovies(selectedMoviesCategory.value);
    });
    const movies = ref([]);
    const filteredSearch = debounce((event) => {
      if (event === "") {
        fetchSerials(selectedSerialsCategory.value);
        fetchMovies(selectedMoviesCategory.value);
        return;
      }
      axios
        .get(
          `https://api.themoviedb.org/3/search/movie?api_key=${apiKey}&query=${event}`
        )
        .then((response) => {
          movies.value = response.data.results;
        });
      axios
        .get(
          `https://api.themoviedb.org/3/search/tv?api_key=${apiKey}&query=${event}`
        )
        .then((response) => {
          serials.value = response.data.results;
        });
    }, 300);

    const serials = ref([]);
    const fetchSerials = (selectedSerialsCategory) => {
      axios
        .get(
          `https://api.themoviedb.org/3/tv/${selectedSerialsCategory}?api_key=${apiKey}&language=en-US&page=1`
        )
        .then((response) => {
          serials.value = response.data.results;
        });
    };
    watchEffect(() => {
      fetchSerials(selectedSerialsCategory.value);
    });

    return {
      apiKey,
      moviesCategories,
      serialsCategories,
      selectedMoviesCategory,
      selectedSerialsCategory,
      movies,
      filteredSearch,
      serials,
    };
  },
};
</script>

<template>
  <section class="md:flex md:flex-col">
    <div
      class="md:flex md:flex-row-reverse md:items-baseline md:justify-around md:mb-10 max-w-2xl sm:mx-auto pt-5 md:pt-20"
    >
      <SearchBar @update:searchValue="filteredSearch" class="mb-5" />
      <CategoriesComponent
        class="mb-10 md:mb-0 md:mr-24"
        :categories="moviesCategories"
        v-model:selected-category="selectedMoviesCategory"
      />
    </div>
    <CardsGalleryComponent
      class="max-w-2xl sm:mx-auto"
      :items="movies"
      type="movie"
    />
    <CategoriesComponent
      class="mb-10 sm:mx-auto max-w-2xl"
      :categories="serialsCategories"
      v-model:selected-category="selectedSerialsCategory"
    />
    <CardsGalleryComponent
      class="max-w-2xl sm:mx-auto"
      :items="serials"
      type="tv-show"
    />
  </section>
</template>

<style scoped></style>
