<template>
  <img v-bind="$attrs" :data-src="src" :data-srcset="srcset" ref="img" />
</template>

<script>
import lozad from "lozad";
import { onMounted, ref } from "vue";

export default {
  name: "LazyImg",
  props: {
    src: { type: String },
    srcset: { type: String },
  },
  setup() {
    const img = ref();

    onMounted(() => {
      const observer = lozad(img.value);
      observer.observe();
    });

    return {
      img,
    };
  },
};
</script>

<style scoped></style>
