<script>
import { onBeforeRouteUpdate } from "vue-router";
import { computed, ref } from "vue";
import axios from "axios";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faBookmark, faHeart } from "@fortawesome/free-regular-svg-icons";
import { faArrowLeft } from "@fortawesome/free-solid-svg-icons";
import BlockHeader from "@/components/BlockHeader";
import RecommendationComponent from "@/components/RecommendationComponent";
import ReviewComponent from "@/components/ReviewComponent";
import TrailerComponent from "@/components/TrailerComponent";
import CastList from "@/components/CastList";

library.add(faHeart, faBookmark, faArrowLeft);

export default {
  name: "MovieDetails",
  components: {
    BlockHeader,
    RecommendationComponent,
    ReviewComponent,
    TrailerComponent,
    CastList,
  },
  props: {
    id: {
      required: true,
      type: String,
    },
  },
  async setup(props) {
    const apiKey = "5c6236cd4a8647c14e3575035964508d";

    const isLoading = ref(true);
    const movie = ref({});
    const moviesRecommendations = ref([]);
    const movieVideos = ref([]);
    const movieReviews = ref([]);
    const movieImages = ref({});
    const cast = ref({});

    const loadData = async (movieId) => {
      isLoading.value = true;
      movie.value = (
        await axios.get(
          `https://api.themoviedb.org/3/movie/${movieId}?api_key=${apiKey}&language=en-US`
        )
      ).data;
      moviesRecommendations.value = (
        await axios.get(
          `https://api.themoviedb.org/3/movie/${movieId}/recommendations?api_key=${apiKey}&language=en-US&page=1`
        )
      ).data.results;
      movieVideos.value = (
        await axios.get(
          `https://api.themoviedb.org/3/movie/${movieId}/videos?api_key=${apiKey}&language=en-US`
        )
      ).data.results;

      movieReviews.value = (
        await axios.get(
          `https://api.themoviedb.org/3/movie/${movieId}/reviews?api_key=${apiKey}&language=en-US`
        )
      ).data.results;

      movieImages.value = (
        await axios.get(
          `https://api.themoviedb.org/3/movie/${movieId}/images?api_key=${apiKey}`
        )
      ).data;

      cast.value = (
        await axios.get(
          `https://api.themoviedb.org/3/movie/${movieId}/credits?api_key=${apiKey}&language=en-US`
        )
      ).data;

      isLoading.value = false;
    };

    onBeforeRouteUpdate(async (to) => {
      await loadData(to.params.id);
    });
    await loadData(props.id);

    const posterImage = computed(() => {
      return "https://image.tmdb.org/t/p/w500/" + movie.value.poster_path;
    });

    const responsivePoster = computed(
      () =>
        `https://image.tmdb.org/t/p/w500/${movie.value.poster_path} 500w,
        https://image.tmdb.org/t/p/w780/${movie.value.poster_path} 780w,
    `
    );

    const backdropImage = computed(() => {
      return "https://image.tmdb.org/t/p/w780" + movie.value.backdrop_path;
    });

    const name = computed(() => {
      return movie.value.original_title;
    });

    const movieGenres = computed(() => {
      return movie.value.genres.map((genre) => genre.name);
    });

    const movieGenresToString = computed(() => {
      return movie.value.genres.map((genre) => genre.name).join(" ◦ ");
    });

    const movieRating = computed(() => {
      return Math.round(movie.value.vote_average * 10) / 10 + " /";
    });

    const movieRunTime = computed(() => {
      const runtime = movie.value.runtime;
      const hours = runtime / 60;
      const roundHours = Math.floor(hours);
      const minutes = (hours - roundHours) * 60;
      const roundMinutes = Math.round(minutes);
      return roundHours + "  h  " + roundMinutes + "  m  ";
    });

    const getMultipleRandom = (arr, num) => {
      const shuffled = [...arr].sort(() => 0.5 - Math.random());
      return shuffled.slice(0, num);
    };

    const randomMovieRecommendations = computed(() =>
      getMultipleRandom(moviesRecommendations.value, 4)
    );

    const officialTrailerVideo = computed(() => {
      if (!movieVideos.value) {
        return null;
      }

      const video = movieVideos.value.find((movieVideo) =>
        movieVideo.name.includes("Official")
      );

      if (!video) {
        return null;
      }

      return `https://www.youtube.com/embed/${video.key}`;
    });

    const castList = computed(() => {
      return cast.value.cast;
    });

    const threeMovieReviews = computed(() => {
      if (!movieReviews.value.length) {
        return [];
      }
      return movieReviews.value.slice(0, 3);
    });

    return {
      movie,
      moviesRecommendations: randomMovieRecommendations,
      posterImage,
      responsivePoster,
      backdropImage,
      name,
      movieGenres,
      movieGenresToString,
      movieRating,
      movieRunTime,
      isLoading,
      officialTrailerVideo,
      castList,
      threeMovieReviews,
    };
  },
};
</script>

<template>
  <Transition name="fade" mode="out-in">
    <main class="bg-neutral-900 text-neutral-100" v-if="!isLoading">
      <section class="flex flex-col justify-center max-w-2xl sm:mx-auto">
        <div class="bg-transparent absolute z-20 top-0 w-full px-5 py-2">
          <router-link
            to="/"
            class="flex flex-col justify-center items-center bg-neutral-900 p-2 rounded-full w-7 h-7 text-neutral-100"
          >
            <font-awesome-icon class="text-sm" icon="fas fa-arrow-left" />
          </router-link>
        </div>
        <div class="relative">
          <img
            class="md:hidden"
            :src="posterImage"
            :srcset="responsivePoster"
            :alt="name"
          />
          <div class="movie-genres-pill md:hidden">
            <span class="genres-pill"> {{ movieGenres[0] }}</span>
            <span v-if="movieGenres[1]" class="genres-pill">
              {{ movieGenres[1] }}</span
            >
            <span v-if="movieGenres[2]" class="genres-pill">
              {{ movieGenres[2] }}</span
            >
          </div>
        </div>
        <img class="hidden md:block" :src="backdropImage" :alt="name" />
        <div class="text-sm md:text-md lg:text-lg py-5 px-4 md:py-5 md:px-0">
          <div class="flex items-center w-full mb-4 md:mb-8">
            <div>
              <div class="flex items-center text-sm">
                <div
                  class="bg-amber-300 rounded-md text-neutral-900 font-bold text-xs md:text-md lg:text-lg px-5 py-2.5 mr-2.5"
                >
                  {{ movieRating }} <span class="bg-transparent">10</span>
                </div>
                <div class="text-neutral-300 md:text-md lg:text-lg">
                  {{ movie.vote_count }}
                </div>
              </div>
            </div>
            <div class="ml-auto">
              <ul class="flex gap-x-2.5">
                <li
                  class="text-xl cursor-pointer hover:text-amber-300 transition-colors"
                >
                  <font-awesome-icon icon="far fa-heart" />
                </li>
                <li
                  class="text-xl cursor-pointer hover:text-amber-300 transition-colors"
                >
                  <font-awesome-icon icon="far fa-bookmark" />
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h3 class="text-xl md:text-2xl lg:text-3xl leading-7 mb-2.5">
              {{ movie.title }}
            </h3>
            <div
              class="text-sm md:text-md lg:text-lg mb-1 font-sans special-font"
            >
              {{ movie.release_date }}
            </div>
            <div class="text-sm md:text-md lg:text-lg mb-1 special-font">
              {{ movieRunTime }}
            </div>
            <div
              class="text-sm md:text-md lg:text-lg mb-8 md:mb-16 special-font"
            >
              {{ movieGenresToString }}
            </div>
            <BlockHeader class="mb-5">Summary</BlockHeader>
            <p
              class="leading-6 md:leading-relaxed md:tracking-wide mb-8 md:mb-16 special-font"
            >
              {{ movie.overview }}
            </p>
          </div>
          <div class="mb-8 md:mb-16">
            <BlockHeader class="mb-5">Trailer</BlockHeader>
            <TrailerComponent
              :src="officialTrailerVideo"
              v-if="officialTrailerVideo"
              :title="name"
            />
            <p v-if="!officialTrailerVideo" class="special-font italic">
              There is not any trailer for this element.
            </p>
          </div>
          <div class="mb-8 md:mb-16">
            <BlockHeader class="mb-5">Cast</BlockHeader>
            <CastList :cast-list="castList" />
          </div>
          <div class="mb-8 md:mb-16">
            <BlockHeader class="mb-5">Users reviews</BlockHeader>
            <ReviewComponent
              v-for="review in threeMovieReviews"
              :key="review.id"
              :review="review"
            />
            <p v-if="!threeMovieReviews.length" class="italic mb-4">
              There isn't any review for that element
            </p>
          </div>
          <div>
            <BlockHeader class="mb-5">We recommend</BlockHeader>
            <div class="grid gap-x-5 gap-y-10 grid-cols-2 mb-20">
              <RecommendationComponent
                v-for="recommendation in moviesRecommendations"
                :key="recommendation.id"
                :recommendation="recommendation"
                type="movie"
              />
            </div>
            <p
              v-if="!moviesRecommendations.length"
              class="special-font italic mb-20"
            >
              There isn't any recommendation for that element
            </p>
          </div>
        </div>
      </section>
    </main>
  </Transition>
</template>

<style lang="scss" scoped>
.movie-genres-pill {
  position: absolute;
  bottom: 5px;
  right: 0;

  .genres-pill {
    background-color: hsla(0, 0%, 97%, 0.25);
    backdrop-filter: blur(5px);
    margin-right: 10px;
    padding: 2px 10px;
    border-radius: 5px;
    color: #eef1f4;
    font-size: 10px;
    font-family: var(--montserrat-font);
  }
}

.special-font {
  font-family: var(--roboto-font);
}
</style>
