<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faBars,
  faVideoCamera,
  faUserCircle,
} from "@fortawesome/free-solid-svg-icons";
library.add(faBars, faVideoCamera, faUserCircle);
export default {
  name: "NavigationComponent",
};
</script>

<template>
  <nav class="px-5 py-3 md:py-6 bg-neutral-800 text-neutral-100">
    <div class="flex flex-row justify-between max-w-2xl sm:mx-auto">
      <button><font-awesome-icon icon="fa fa-bars" /></button>
      <h3 class="text-amber-300">
        MoviesLibrary
        <font-awesome-icon icon="fas fa-video-camera" />
      </h3>
      <button>
        <font-awesome-icon icon="fa fa-user-circle" />
      </button>
    </div>
  </nav>
</template>

<style scoped></style>
