<script>
import { computed } from "vue";
export default {
  name: "recommendationComponent",
  props: {
    recommendation: {
      type: Object,
      required: false,
    },
    type: {
      type: String,
      required: false,
    },
  },

  setup(props) {
    const recommendationPoster = computed(() => {
      return (
        "https://image.tmdb.org/t/p/w154/" + props.recommendation.poster_path
      );
    });
    const responsiveRecommendationImages = computed(
      () =>
        `https://image.tmdb.org/t/p/w154/${props.recommendation.poster_path} 154w,
    https://image.tmdb.org/t/p/w185/${props.recommendation.poster_path} 185w,
    https://image.tmdb.org/t/p/w300/${props.recommendation.poster_path} 300w,
    https://image.tmdb.org/t/p/w500/${props.recommendation.poster_path} 500w
    `
    );

    return {
      recommendationPoster,
      responsiveRecommendationImages,
    };
  },
};
</script>

<template>
  <div class="relative opacity-100 transition-opacity hover:opacity-90">
    <img
      class="w-full rounded-lg object-cover"
      :srcset="responsiveRecommendationImages"
      :src="recommendationPoster"
      alt=""
    />
    <router-link
      class="absolute w-full h-full top-0 flex items-center justify-center text-center text-amber-300 opacity-0 transition-all hover:opacity-90 hover:bg-neutral-900"
      :to="{ name: type, params: { id: recommendation.id } }"
    >
      Check out details
    </router-link>
  </div>
</template>

<style scoped></style>
