<template>
  <div class="leading-6 md:leading-relaxed md:tracking-wide mb-7">
    <div class="flex flex-row mb-3">
      <p class="text-md md:text-lg font-bold md:font-extrabold text-amber-100">
        {{ review.author_details.username }}
      </p>
      <div class="ml-auto">
        <font-awesome-icon icon="fas fa-star" class="text-amber-300" />
        {{ review.author_details.rating }}
      </div>
    </div>
    <p class="special-font mb-2" :class="{ limited: !active }">
      {{ review.content }}
    </p>
    <button
      v-if="displayButton"
      @click="handleReadMoreButton"
      class="font-extrabold text-amber-300"
    >
      Read More
    </button>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faStar } from "@fortawesome/free-solid-svg-icons";
import { ref, computed } from "vue";

library.add(faStar);
export default {
  name: "ReviewComponent",
  props: {
    review: {
      type: [Object, null],
      required: false,
    },
  },

  setup(props) {
    const active = ref(false);

    const displayButton = computed(() => {
      const textLength = props.review.content.length;

      if (textLength <= 60) {
        return false;
      }
      return true;
    });

    const handleReadMoreButton = () => {
      active.value = !active.value;
    };

    return {
      active,
      displayButton,
      handleReadMoreButton,
    };
  },
};
</script>

<style scoped>
.special-font {
  font-family: var(--roboto-font);
}

.limited {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
