<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSearch } from "@fortawesome/free-solid-svg-icons";
library.add(faSearch);
import { ref } from "vue";
export default {
  name: "SearchBar",
  emits: ["update:searchValue"],
  setup() {
    const searchValue = ref("");

    return {
      searchValue,
    };
  },
};
</script>

<template>
  <div class="relative">
    <input
      @input="$emit('update:searchValue', $event.target.value)"
      class="w-full bg-neutral-900 py-2 px-6 text-neutral-100 rounded-xl placeholder-neutral-100 outline-none"
      placeholder="Search"
      type="text"
    />
    {{ searchValue }}
    <font-awesome-icon
      class="absolute top-0 left-0 text-amber-300 transform translate-y-2/4 translate-y-2/4"
      icon="fa fa-search"
    />
  </div>
</template>

<style scoped></style>
