<script>
import { computed, ref } from "vue";
import { onBeforeRouteUpdate, useRoute } from "vue-router";
import axios from "axios";
import BlockHeader from "@/components/BlockHeader";
import ReviewComponent from "@/components/ReviewComponent";
import RecommendationComponent from "@/components/RecommendationComponent";
import TrailerComponent from "@/components/TrailerComponent";
import CastList from "@/components/CastList";
export default {
  name: "SerialDetailsComponent",
  components: {
    BlockHeader,
    ReviewComponent,
    RecommendationComponent,
    TrailerComponent,
    CastList,
  },
  props: {
    id: {
      required: true,
      type: String,
    },
  },
  async setup() {
    const apiKey = "5c6236cd4a8647c14e3575035964508d";

    const route = useRoute();
    const isLoading = ref(true);
    const serial = ref({});
    const serialRecommendations = ref([]);
    const serialVideos = ref([]);
    const serialReviews = ref([]);
    const cast = ref({});

    const loadData = async (serialId) => {
      isLoading.value = true;
      serial.value = (
        await axios.get(
          `https://api.themoviedb.org/3/tv/${serialId}?api_key=${apiKey}&language=en-US`
        )
      ).data;
      serialRecommendations.value = (
        await axios.get(
          `https://api.themoviedb.org/3/tv/${serialId}/recommendations?api_key=${apiKey}&language=en-US&page=1`
        )
      ).data.results;
      serialVideos.value = (
        await axios.get(
          `https://api.themoviedb.org/3/tv/${serialId}/videos?api_key=${apiKey}&language=en-US`
        )
      ).data.results;

      serialReviews.value = (
        await axios.get(
          `https://api.themoviedb.org/3/tv/${serialId}/reviews?api_key=${apiKey}&language=en-US`
        )
      ).data.results;

      cast.value = (
        await axios.get(
          `https://api.themoviedb.org/3/tv/${serialId}/credits?api_key=${apiKey}&language=en-US`
        )
      ).data;

      isLoading.value = false;
    };

    onBeforeRouteUpdate(async (to) => {
      await loadData(to.params.id);
    });
    await loadData(route.params.id);

    const name = computed(() => {
      return serial.value.original_name;
    });

    const posterImage = computed(() => {
      return "https://image.tmdb.org/t/p/w500/" + serial.value.poster_path;
    });

    const responsivePoster = computed(
      () =>
        `https://image.tmdb.org/t/p/w500/${serial.value.poster_path} 500w,
        https://image.tmdb.org/t/p/w780/${serial.value.poster_path} 780w,
    `
    );
    const backdropImage = computed(() => {
      return "https://image.tmdb.org/t/p/w780" + serial.value.backdrop_path;
    });

    const serialGenres = computed(() => {
      return serial.value.genres.map((genre) => genre.name);
    });

    const serialGenresToString = computed(() => {
      return serial.value.genres.map((genre) => genre.name).join(" ◦ ");
    });

    const serialRating = computed(() => {
      return Math.round(serial.value.vote_average * 10) / 10 + " /";
    });

    const serialSeasons = computed(() => {
      return serial.value.seasons;
    });

    const getMultipleRandom = (arr, num) => {
      const shuffled = [...arr].sort(() => 0.5 - Math.random());
      return shuffled.slice(0, num);
    };

    const randomSerialRecommendations = computed(() =>
      getMultipleRandom(serialRecommendations.value, 4)
    );

    const officialTrailerVideo = computed(() => {
      if (!serialVideos.value) {
        return null;
      }

      const video = serialVideos.value.find((serialVideo) =>
        serialVideo.name.includes("Official")
      );

      if (!video) {
        return null;
      }

      return `https://www.youtube.com/embed/${video.key}`;
    });

    const threeSerialReviews = computed(() => {
      if (!serialReviews.value.length) {
        return [];
      }
      return serialReviews.value.slice(0, 3);
    });

    const castList = computed(() => {
      if (!cast.value) {
        return;
      }
      return cast.value.cast;
    });

    return {
      serial,
      isLoading,
      name,
      posterImage,
      responsivePoster,
      backdropImage,
      serialGenres,
      serialGenresToString,
      serialRecommendations: randomSerialRecommendations,
      serialRating,
      serialSeasons,
      officialTrailerVideo,
      threeSerialReviews,
      castList,
    };
  },
};
</script>

<template>
  <section>
    <Transition name="fade" mode="out-in">
      <main class="bg-neutral-900 text-neutral-100" v-if="!isLoading">
        <section class="flex flex-col justify-center max-w-2xl sm:mx-auto">
          <div class="bg-transparent absolute z-20 top-0 w-full px-5 py-2">
            <router-link
              to="/"
              class="flex flex-col justify-center items-center bg-neutral-900 p-2 rounded-full w-7 h-7 text-neutral-100"
            >
              <font-awesome-icon class="text-sm" icon="fas fa-arrow-left" />
            </router-link>
          </div>
          <div class="relative">
            <img
              class="md:hidden"
              :src="posterImage"
              :srcset="responsivePoster"
              :alt="name"
            />
            <div class="serial-genres-pill md:hidden">
              <span class="genres-pill">{{ serialGenres[0] }}</span>
              <span v-if="serialGenres[1]" class="genres-pill">
                {{ serialGenres[1] }}</span
              >
              <span v-if="serialGenres[2]" class="genres-pill">
                {{ serialGenres[2] }}
              </span>
            </div>
          </div>
          <img class="hidden md:block" :src="backdropImage" :alt="name" />
          <div class="text-sm md:text-md lg:text-lg py-5 px-4 md:py-5 md:px-0">
            <div class="flex items-center w-full mb-4 md:mb-8">
              <div>
                <div class="flex items-center text-sm">
                  <div
                    class="bg-amber-300 rounded-md text-neutral-900 font-bold text-xs md:text-md lg:text-lg px-5 py-2.5 mr-2.5"
                  >
                    {{ serialRating }}
                    <span class="bg-transparent">10</span>
                  </div>
                  <div class="text-neutral-300 md:text-md lg:text-lg">
                    {{ serial.vote_count }}
                  </div>
                </div>
              </div>
              <div class="ml-auto">
                <ul class="flex gap-x-2.5">
                  <li
                    class="text-xl cursor-pointer hover:text-amber-300 transition-colors"
                  >
                    <font-awesome-icon icon="far fa-heart" />
                  </li>
                  <li
                    class="text-xl cursor-pointer hover:text-amber-300 transition-colors"
                  >
                    <font-awesome-icon icon="far fa-bookmark" />
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <h3 class="text-xl md:text-2xl lg:text-3xl leading-7 mb-2.5">
                {{ serial.name }}
              </h3>
              <div
                class="text-sm md:text-md lg:text-lg mb-1 font-sans special-font"
              >
                {{ serial.status }}
              </div>
              <div class="flex items-center mb-2">
                <div class="text-sm md:text-md lg:text-lg mr-5 special-font">
                  <p>seasons : {{ serial.number_of_seasons }}</p>
                </div>
                <div class="text-sm md:text-md lg:text-lg special-font">
                  <p>episodes : {{ serial.number_of_episodes }}</p>
                </div>
              </div>
              <div
                class="text-sm md:text-md lg:text-lg mb-8 md:mb-16 special-font"
              >
                {{ serialGenresToString }}
              </div>
              <BlockHeader class="mb-5">Summary</BlockHeader>
              <p
                class="leading-6 md:leading-relaxed md:tracking-wide mb-8 md:mb-16 special-font"
              >
                {{ serial.overview }}
              </p>
            </div>
            <BlockHeader class="mb-5">List of seasons</BlockHeader>
            <ul class="grid grid-cols-3 mb-8 md:mb-16">
              <li
                v-for="serialSeason in serialSeasons"
                :key="serialSeason.id"
                class="mb-7"
              >
                <router-link
                  to="/"
                  class="rounded-md text-neutral-100 text-sm md:text-md lg:text-lg hover:bg-amber-300 hover:text-neutral-900 transition ease-in-out duration-300 font-bold px-5 py-2.5 cursor-auto"
                  >{{ serialSeason.name }}</router-link
                >
              </li>
            </ul>
            <div class="mb-8 md:mb-16">
              <BlockHeader class="mb-5">Trailer</BlockHeader>
              <TrailerComponent
                :src="officialTrailerVideo"
                v-if="officialTrailerVideo"
                :title="name"
              />
              <p v-if="!officialTrailerVideo" class="special-font italic">
                There is not any trailer for this element.
              </p>
            </div>
            <div class="mb-8 md:mb-16">
              <BlockHeader class="mb-5">Cast</BlockHeader>
              <CastList :cast-list="castList" />
            </div>
            <div class="mb-8 md:mb-16">
              <BlockHeader class="mb-5">Users reviews</BlockHeader>
              <ReviewComponent
                v-for="review in threeSerialReviews"
                :key="review.id"
                :review="review"
              />
              <p v-if="!threeSerialReviews.length" class="italic mb-4">
                There isn't any review for that element
              </p>
            </div>
            <div>
              <BlockHeader class="mb-1">We recommend</BlockHeader>
              <div class="grid gap-x-5 gap-y-10 grid-cols-2 mb-20">
                <RecommendationComponent
                  v-for="recommendation in serialRecommendations"
                  :key="recommendation.id"
                  :recommendation="recommendation"
                  type="tv-show"
                />
                <p
                  v-if="!serialRecommendations.length"
                  class="special-font italic mb-20"
                >
                  There isn't any recommendation for that element
                </p>
              </div>
            </div>
          </div>
        </section>
      </main>
    </Transition>
  </section>
</template>

<style lang="scss" scoped>
.serial-genres-pill {
  position: absolute;
  bottom: 5px;
  right: 0;

  .genres-pill {
    background-color: hsla(0, 0%, 97%, 0.25);
    backdrop-filter: blur(5px);
    margin-right: 10px;
    padding: 2px 10px;
    border-radius: 5px;
    color: #eef1f4;
    font-size: 10px;
    font-family: var(--montserrat-font);
  }
}
</style>
