<script>
export default {
  name: "TrailerComponent",

  props: {
    src: {
      required: true,
      type: String,
    },
    title: {
      required: true,
      type: String,
    },
  },
};
</script>

<template>
  <div>
    <iframe :title="title" :src="src"></iframe>
  </div>
</template>

<style lang="scss" scoped>
div {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>
