<script>
import NavigationComponent from "@/components/NavigationComponent";
import FooterComponent from "@/components/FooterComponent";
export default {
  name: "App",
  components: { NavigationComponent, FooterComponent },
};
</script>

<template>
  <NavigationComponent v-if="this.$route.meta.NavigationComponent ?? true" />
  <Suspense>
    <router-view />
  </Suspense>
  <FooterComponent />
</template>

<style lang="scss"></style>
